<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>90's Wiki</title>
  </head>
  <body>
    {{{body}}}
    <a href="/HomePage">HomePage</a>
    <!-- <a href="/AllPages">AllPages</a> -->
  </body>
</html>
